@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --border: 0 0% 85%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 14% 34%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 215.4 35.87% 87.65%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --ring: 222.2 47.4% 11.2%;
    --radius: 0.5rem;
    --sidebar: 210 40% 96.1%;
    --sidebar-foreground: 215.4 16.3% 46.9%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
    --border: 240 3.7% 25.9%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 220 13% 31%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 215 23.96% 33.07%;
    --accent-foreground: 210 40% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --ring: 210 40% 98%;
    --sidebar: 217.2 32.6% 17.5%;
    --sidebar-foreground: 215 20.2% 65.1%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
